@import "../../../styles/variables";

.footerContainer {
  background-color: $color-white-primary;
  margin-top: 20px;
  padding: 30px 0 10px 0;
  text-align: center;
  border-top: solid 1px $color-black-tertiary;
}

.footerLink {
  color: $color-black-primary;
  margin: 5px;
  border-bottom: none;
  text-decoration: none;
  &:hover {
    color: $color-blue-primary;
  }
}

.footerCopyright {
  color: $color-black-primary;
  margin: 20px 0 0 0;
}
