@import "../../../styles/variables";

.footerContainer {
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: auto;
  padding: 30px 0 30px 0;
  text-align: center;
  border-top: solid 1px $color-black-tertiary;
  background-color: $color-white-primary;
}

.footerLink {
  margin: 5px;
  border-bottom: none;
  color: $color-black-primary;
  text-decoration: none;
  &:hover {
    color: $color-blue-primary;
  }
}

.footerCopyright {
  margin: 20px 0 0 0;
  color: $color-black-primary;
}
